.element__like {
  width: 22px;
  height: 19px;
  border: none;
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-color: #fff;
  cursor: pointer;
  transform: translateY(5px);
  transition: opacity .5s linear;
}

.element__like:hover {
  opacity: 60%;
}
