.popup__submit-button {
  margin: 32px auto 0;
  padding: 0;
  width: 358px;
  height: 50px;
  background-color: #000;
  border: none;
  border-radius: 2px;
  font-family: inherit;
  color: #fff;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  cursor: pointer;

}

.popup__submit-button:hover {
  opacity: .8;
}

@media screen and (max-width: 670px) {
  .popup__submit-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
  }
}
