.header__logo {
  width: 142px;
  height: 33px;
  object-fit: contain;
  margin-bottom: 41px;
  }

@media screen and (max-width: 670px) {
  .header__logo {
    width: 21vw;
    height: 5vw;
  }
}

@media screen and (max-width: 426px) {
  .header__logo {
    margin-bottom: 31.6px;
    margin-left: calc((100% - 282px) / 2);
    width: 107.74px;
    height: 24.4px;
  }
}
