.profile__add-button {
  margin: 40px 0 0;
  padding: 0;
  width: 175px;
  height: 50px;
  border: 2px solid #fff;
  background-color: black;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity .5s linear;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .profile__add-button {
  width: 16.6vw;
  height: 5.5vw;
}
}

@media screen and (max-width: 740px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
    margin-top: 32px;
  }
}
