.profile__name {
  display: inline-block;
  margin: 0;
  padding: 25.75px 18px 0 0;
  font-weight: 500;
  font-size: calc( (100vw - 420px)/(1280 - 420) * (42 - 27) + 27px);
  line-height: 1.14;
  color: #fff;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  }
