.popup__item {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 13px;   /*Так в макете, для соотетствия в PixelPerfect нужно 0 0 10px*/
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  font-family: 'Inter', 'Arial', sans-serif;
}


